body{
    margin: 0;
    background-color: rgb(42, 41, 41);
}
.navbar{
    background-color:rgb(171, 231, 246);
    text-align: center;
    padding: 20px;
    border: 0;
    word-spacing: 40px;
    font-size: 25px;
    font-weight: 600;
    color:rgb(42, 41, 41);
}
a:link{
    text-decoration: none;
    color:rgb(42, 41, 41);
}
.header{
    text-align: center;
    padding: 20px;
    color: rgb(171, 231, 246);
    font-size: 20px;
    
}
.Wallpaper{
    width: 100%;
    height:700px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.images{
    width: 400px;
    height: 200px;
}
table{
    margin-right: auto;
    margin-left: auto;
}
h4{
    color: rgb(42, 41, 41);
    margin-top: 0;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 400px;
    margin-right:40px;
    background-color:rgb(171, 231, 246);
}
.footer{
    text-align: center;
    padding: 15px;
    background-color:rgb(171, 231, 246);
    word-spacing: 40px;
    font-size: 25px;
    font-weight: 600;
}

/* aboutplaces */

.aboutdetails-img{
    width:80%;
    height:550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paragraph{
    color: rgb(171, 231, 246);
    width:75%;
    margin-left:auto;
    margin-right:auto;
    font-family:italic;
    padding-bottom: 60px;
}

/* about */
.about{
    color: rgb(171, 231, 246);
    width:75%;
    margin-left:auto;
    margin-right:auto;
    font-family:italic;
    padding: 20px;
}

/* contact */
form{
    background-color: rgb(231, 250, 255);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid #ccc;
}

.input-wrapper{
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.input-box{
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 36px;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: rgb(231, 250, 255);
}
#btn-submit{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 15px;
    background-color: rgb(171, 231, 246);
    border: none;
}